/* WineHQ-ish look */

body {
    background-color: #000000;
    color: #000000;
    background-image: url("//winehq.org/images/bg.jpg");
    background-repeat: no-repeat;
    font-family: "bitstream vera sans", "verdana", "arial", "helvetica", sans-serif;
    margin: 0;
    font-size: 10pt;
}

a:link    { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover   { text-decoration: underline; }

/* wine logo image */
#logo_glass {
    height: 157px;
    left: 50px;
    position: absolute;
    top: 20px;
    width: 100px;
    z-index: 2;
    border: none;
}

#logo_text {
    height: 58px;
    left: 110px;
    position: absolute;
    top: 40px;
    width: 186px;
    z-index: 3;
}

#logo_blurb {
    color: #999;
    font-size: 12px;
    left: 130px;
    position: absolute;
    top: 92px;
    z-index: 4;
}

#tabs {
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 6;
}

#tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabs li {
    background-image: url("//winehq.org/images/tab_u.png");
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    margin: 0px 2px 0px 2px;
    padding: 0;
    text-align: center;
    width: 112px;
}

#tabs li.s {
    background-image: url("//winehq.org/images/tab_s.png");
}

#tabs li.s a {
    font-weight: bold;
}

#tabs li:hover {
    background-image: url("//winehq.org/images/tab_h.png");
}

#tabs a {
    color: white;
    display: block;
    font-size: 16px;
    height: 23px;
    padding-top: 3px;
    text-decoration: none;
    width: 108px;
}

#main_content {
    padding: 85px 10px 10px 100px;
}
#content {
    background-color: white;
    border-radius: 7px;
    padding: 20px 20px 10px 80px;
}

img { border: 0; }

div.main, div.legend {
    margin: 25px 0 0;
    background-color: white;
    width: 100%;
    border: 1px solid #601919;
}

h1, h2 {
    text-align: center;
    background-color: #601919;
    color: #ffffff;
    padding: 4px;
    margin: 0;
}

table th {
    text-align: left;
    background-color: #601919;
    color: white;
    padding: 4px;
    margin: 0;
}

div.buglist {
    margin: 5px 20px;
    background-color: white;
    width: 100%;
    border: 1px solid #601919;
}
table.main, table.legend { width: 100%; }

table.legend ul { margin: 2px 0; }

tr.even { background-color: #fff8f8; }
tr.odd { background-color: #f8e8e8; }

.id, .status, .testbot { text-align: center; }
.id, .status, .author { white-space: nowrap; padding: 0 3px; }
.checkmark { text-align: center; color:green; }
.failmark { text-align: center; color: red; }
.signoffextra { color: #A50D0D; border: 1px solid #601919; }
.sha1 { white-space: nowrap; font-family: monospace; padding: 2px 12px; }

.id :link, .sha1 :link, .subject :link { color: #A50D0D; text-decoration: none; }
.id :visited, .sha1 :visited, .subject :visited { color: #ff0000; text-decoration: none; }
.id :hover, .sha1 :hover, .subject :hover { color: #FF6666; text-decoration: underline; }

.nil,        .nil :link,        .nil :visited        { color: blue; font-weight: bold; }
.pending,    .pending :link,    .pending :visited    { color: blue; }
.assigned,   .assigned :link,   .assigned :visited   { color: blue; }
.committed,  .committed :link,  .committed :visited  { color: green; }
.depend,     .depend :link,     .depend :visited     { color: #e08000; }
.superseded, .superseded :link, .superseded :visited { color: #e08000; }
.sequence,   .sequence :link,   .sequence :visited   { color: #e08000; }
.deferred,   .deferred :link,   .deferred :visited   { color: #e08000; }
.testcase,   .testcase :link,   .testcase :visited   { color: #e08000; }
.signoff,    .signoff :link,    .signoff :visited    { color: #e08000; }
.other,      .other :link,      .other :visited      { color: #e08000; }
.applyfail,  .applyfail :link,  .applyfail :visited  { color: red; }
.buildfail,  .buildfail :link,  .buildfail :visited  { color: red; }
.authorship, .authorship :link, .authorship :visited { color: red; }
.formatting, .formatting :link, .formatting :visited { color: red; }
.nopatch,    .nopatch :link,    .nopatch :visited    { color: red; }
.rejected,   .rejected :link,   .rejected :visited   { color: red; }
.split,      .split :link,      .split :visited      { color: red; }
.testfail,   .testfail :link,   .testfail :visited   { color: red; }
.testbot,    .testbot :link,    .testbot :visited    { color: green; }
.botfail,    .botfail :link,    .botfail :visited    { color: red; }
