/* Body Document Defaults */
BODY                {
                     background-color: #000000;
                     color: #000000;
                     background-image: url('images/bg.jpg');
                     background-repeat: no-repeat;
                     font-family: "bitstream vera sans", "verdana", "arial", "helvetica", sans-serif;
                     margin: 0;
                     font-size: 10pt;
                    }

/* wine logo image */
#logo_glass_big     {
                     position: absolute;
                     z-index: 2;
                     top: 0px;
                     width: 200px;
                     height: 313px;
                    }
#logo_glass_big.pos { left: 0px; }

#logo_glass         {
                     position: absolute;
                     z-index: 2;
                     top: 20px;
                     width: 100px;
                     height: 157px;
                    }
#logo_glass.pos     { left: 50px; }

#logo_text          {
                     position: absolute;
                     z-index: 3;
                     top: 40px;
                     width: 186px;
                     height: 58px;
                    }
#logo_text.pos      { left: 110px; }

#logo_blurb         {
                     position: absolute;
                     z-index: 4;
                     top: 92px;
                     left: 130px;
                     font-size: 12px;
                     color: #999999;
                    }

/* search box */
#search_box         {
                     text-align: right;
                     position: absolute;
                     z-index: 5;
                     top: 50px;
                     right: 20px;
                     width: 250px;
                     margin: 0;
                     padding: 0;
                     font-size: 10px;
                    }
#search_box INPUT   { font-size: 12px; width: 175px; margin: 0; padding: 2px; border: 1px inset red; }

/* top tabs */
#tabs               {
                     position: absolute;
                     z-index: 6;
                     top: 0px;
                     margin: 0px;
                     padding: 0px;
                    }
#tabs.pos           { right: 10px; }
#tabs UL            {
                     list-style: none;
                     padding: 0;
                     margin: 0;
                    }
#tabs LI            {
                     float: left;
                     width: 112px;
                     height: 28px;
                     margin: 0px 2px 0px 2px;
                     padding: 0px;
                     text-align: center;
                     background-image: url('images/tab_u.png');
                     background-repeat: no-repeat;
                    }
#tabs LI.s          { background-image: url('images/tab_s.png'); }
#tabs LI.s A        { font-weight: bold; }
#tabs LI:hover      { background-image: url('images/tab_h.png'); }
#tabs A             {
                     display: block;
                     width: 108px;
                     height: 23px;
                     padding-top: 3px;
                     font-size: 16px; color: white; text-decoration: none;
                    }

/* main content well */
#main_content       {
                     padding: 85px 10px 10px 100px;
                    }

/* set background color of content wells */
#main_content .content, #main_left .content, #main_right .content { background-color: #fff; }

/* main content well front page left column */
#main_left          {
                     width: 58%;
                     width: expression("55%"); /* For IE */
                     margin: 0 10px 0 0;
                     float: left;
                     display: inline;
                    }

/* main content well front page right column */
#main_right         {
                     width: 40%;
                     width: expression("30%");  /* For IE */
                     margin: 0;
                     float: right;
                     display: inline;
                    }

/* Language Select */
#langsel            {
                     clear: both;
                     color: #ffffff;
                     text-align: left;
                     margin: 0 0 0 110px;
                     font-size: 8pt;
                    }
#langsel A          { color: #ffffff; text-decoration: none; }
#langsel A:hover    { color: red; text-decoration: underline; }

/* footer */
#footer             {
                     clear: both;
                     color: #ffffff;
                     text-align: right;
                     padding-right: 20px;
                    }
#footer IMG         { vertical-align: middle; }

/* debug log */
#debug_log
{
    clear: both;
    height: 150px;
    margin: 10px;
    border: 2px inset #999999;
    font-family: monospace, sans-serif;
    color: #c0c0c0;
    background-color: #090909;
    overflow: auto;
    font-size: 10px;
}

/* header text */
H1.title            { color: #A50D0D; border-bottom: 1px solid #A50D0D; margin: 0px; }
H1.title A          { color: #A50D0D; text-decoration: none; }
H1.title A:hover    { color: red; }
H3.title            { color: #A50D0D; border-bottom: 1px solid #A50D0D; margin: 0px; }
H3.title A          { color: #A50D0D; text-decoration: none; }
H3.title A:hover    { color: red; }
P.newsdate          { color: #4e4e4e; font-size: 8pt; margin: 0 5px 10px 10px;}
P.newstitle         { color: #4e4e4e; font-size: 12pt; font-weight: bold; border-bottom: 1px solid #C0C0C0; margin-bottom: 5px; }
P.newstitle A       { color: #4e4e4e; text-decoration: none; }
P.newstitle A:hover { color: #FF6666; text-decoration: none; }
DIV.newsblock       { margin: 0 5px 25px 10px; padding: 0; }

/* winehq main page menu */
.winehq_menu                          { margin: 20px 0px 0px 40px; }
.winehq_menu>div                      { padding: 0; margin: 0px 0px 30px 0px; cursor: pointer; }
.winehq_menu>div>.text                { padding: 10px 0 0 15px; margin: 0 0 24px 0; float:left; clear:right; }
.winehq_menu>div>.text>.title         { font-size: 24px; padding: 0; margin: 0; }
.winehq_menu>div>.text>.title>a       { text-decoration: none; color: maroon; }
.winehq_menu>div>.text>.title>a:hover { text-decoration: underline; color: red; }
.winehq_menu>div>.text>.subtitle      { font-size: 14px; color: #4e4e4e; padding: 0; margin: 0 0 0 15px; }
/* icons for the main page menu elements */
.winehq_menu>div>.icon                { background: url('images/home_icons.png') no-repeat; width:50px; height:50px; display:inline-block; float:left; clear:left; margin: 0; padding: 0; }
.winehq_menu>.info>.icon              { background-position: 0 0 }
.winehq_menu>.info:hover>.icon        { background-position: 0 -50px }
.winehq_menu>.dl>.icon                { background-position: -50px 0 }
.winehq_menu>.dl:hover>.icon          { background-position: -50px -50px }
.winehq_menu>.help>.icon              { background-position: -100px 0 }
.winehq_menu>.help:hover>.icon        { background-position: -100px -50px }
.winehq_menu>.devel>.icon             { background-position: -150px 0 }
.winehq_menu>.devel:hover>.icon       { background-position: -150px -50px }
.winehq_menu>.donate>.icon            { background-position: -200px 0 }
.winehq_menu>.donate:hover>.icon      { background-position: -200px -50px }

/* stuff */
img                 { border: 0; }
UL.roomy LI         { padding-bottom: 10px; }

/* Link Colors */
A                   { color: #A50D0D; }
A:visited           { color: #FF0000; }
A:hover             { color: #FF6666; text-decoration: underline; }
A:active            { color: #FF0000; }
A.hidden            { text-decoration: none; color: #000000; }

/* General fonts and sizes */
OL,UL,P             { font-size: 10pt; }
TD,TR,TH            { font-size: 10pt; }
INPUT               { font-size: 10pt; }
PRE                 {
                     font-family: monospace; font-size: 10pt;
                     white-space: pre-wrap;
                     white-space: -moz-pre-wrap !important;
                    }
.small              { font-size: 8pt; }

/* Hn Sizes */
H1                  { font-size: 20pt; }
H2                  { font-size: 18pt; }
H3                  { font-size: 14pt; }
H4                  { font-size: 12pt; }
H5                  { font-size: 10pt; }

/* HR */
hr
{
    border: 0;
    color: #A50D0D;
    background-color: #A50D0D;
    height: 1px;
    width: 100%;
    text-align: left;
}

/* rounded corners */
.cornerround
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Rounded Corner Box */
div.rbox                              { display:block; margin: 0px; }
div.rbox b.rtop, b.rbottom            { display:block; margin: 0px;  }
div.rbox b.rtop b, b.rbottom b        { display:block; height: 1px; overflow: hidden; background: #FFFFFF; }
div.rbox b.r1                         { margin: 0 5px; }
div.rbox b.r2                         { margin: 0 3px; }
div.rbox b.r3                         { margin: 0 2px; }
div.rbox b.rtop b.r4, b.rbottom b.r4  { margin: 0 1px; height: 2px}
div.rbox div.content                  { margin: 0; background-color: #FFFFFF; }

/* WWN Colors */
.wwn TABLE          { margin: 0px; padding: 0px; border-spacing: 0; }
.wwn TH             { color: #A50D0D; border-bottom: 1px solid #A50D0D; margin: 5px 0 5px 0; padding: 5px 0 5px 0; text-align: left; }
.wwnQuote           { color: #A8003C; }
p.indent            { padding-left: 1em; padding-right: 1em;}

/* RSS Feed Links */
ul.rss {
  list-style: none;
  padding: 0 0 0 2px;
  margin: 0;
}
ul.rss li {
  background: url("./images/feed.gif") no-repeat 0 1px;
  padding: 0px 0 0px 0px;
  height: 18px;
}
ul.rss li a {
  font-size: 8pt;
  padding: 0 0 0 18px;
}

/* template navigation links */
.link-container     { position: relative; height: 1.2em; }
.link-container p   { position: absolute; width: 50%; margin: 0; }
.left-link          { left: 0; }
.right-link         { right: 0; text-align: right; }

/* Status colors */
.hdr                { background-color: #000000; color: #ffffff; }
.pct0               { background-color: #ff5050; }
.pct5               { background-color: #ff5d4f; }
.pct10              { background-color: #ff694e; }
.pct15              { background-color: #ff764d; }
.pct20              { background-color: #ff824b; }
.pct25              { background-color: #ff8f4a; }
.pct30              { background-color: #ff9b49; }
.pct35              { background-color: #ffa848; }
.pct40              { background-color: #ffb447; }
.pct45              { background-color: #ffc146; }
.pct50              { background-color: #ffcd45; }
.pct55              { background-color: #ffda43; }
.pct60              { background-color: #ffe642; }
.pct65              { background-color: #fff341; }
.pct70              { background-color: #ffff40; }
.pct75              { background-color: #dcff48; }
.pct80              { background-color: #c8ff50; }
.pct85              { background-color: #b4ff58; }
.pct90              { background-color: #a0ff60; }
.pct95              { background-color: #8cff60; }
.pct100             { background-color: #60ff60; }
.nonexistent        { background-color: #ff5050; }
.poor               { background-color: #ff8f4a; }
.outdated           { background-color: #ffcd45; }
.outdadeq           { background-color: #ffff40; }
.adequate           { background-color: #dcff48; }
.adeqgood           { background-color: #c0ff54; }
.good               { background-color: #60ff60; }

/* ToDo colors */
.todo               { background-color: red; }
.inprogress         { background-color: yellow; }
.done               { background-color: limegreen; }
.invalid            { color: gray; text-decoration: line-through; }

/* Fun Projects */
.works              { background-color: lightblue; }
.abandoned          { background-color: gray; }
.modified           { font-weight: bold; }
.submitted          { font-style: italic; }
.committed          { font-style: italic; color: gray; }

/* App Support status */
.gold               { background-color: wheat; }
.silver             { background-color: silver; }
