/* used to mark resource parts that are not literaly in the string, like \0, \n etc*/
.resmeta
{
    color: #7f7fff;
    font-style: italic;
}

/* used to mark disabled menu options */
.resdisabled
{
    color: grey;
    font-style: italic;
}

/* a note e.g. that you are watching a hidden language */
p.note
{
    background-color: #ffff7f;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 2px;
}

/* summary table on index page, bars column*/
table.index td.bar
{
    background-color: #d1daf9;
}

/* table with a standard resource dump */
table.resource
{
    background-color: #f0f0ff;
}

table.resource tr.header
{
    background-color: #e0e0ff;
}

table.resource tr.subheader
{
    background-color: #e8e8ff;
}

/* rows are different (in resource comparision mode) */
table.resource tr.diff
{
    background-color: #ffb8d0;
}
